*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#nav{
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#nleft{
    display: flex;
    gap: 30px;
}
#nav a{
    display: inline;
    font-weight: 800;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}
#hero{
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sustain{
    width: 10vw;
}
#sustain p{
    text-transform: capitalize;
    font-weight: 800;
    opacity: .5;
    font-size: 12px;
    margin: 10px 0;
}
#sustain #susimagewrapper{
    width: 100%;
    height: 15vw;
    position: relative;
    overflow: hidden;
}
#susimagewrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ephemeral{
    width: 30vw;
    min-height: 42vw;
    position: relative;
}
#ephemeral p{
    margin-top: 30px;
    font-size: 1.3vw;
    letter-spacing: -.07vw;
    line-height: 1.3;
    width: 40%;
}
#ephemeral #headings{
    position: absolute;
    top: -22%;
    left: -20%;
}
#imgtext{
    width: fit-content;
    height: fit-content;
}
#ephemeral img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ephemeral h1{
    letter-spacing: -.4vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
}
#visit{
    display: flex;
    gap: 20px;
    align-items: center;
}
#circlev{
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #5e5e5e;
}
#circlev i{
    color: #5e5e5e;
}
#visit h3{
    font-weight: 400;
    color: #5e5e5e;
}
#motive{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    margin-top: 7vw;
}
#motive p{
    width: 85%;
    text-align: right;
    font-size: 2.1vw;
    position: relative;
    right: 0;
    letter-spacing: -.12vw;
    line-height: 1.7;
}
#motive span{
    display: inline-block;
    margin: 0 10px;
    border-radius: 100px;
    margin: 0 13px;
    margin-bottom: -12.5px;
}
#onespan{
    width: 80px;
    height: 50px;
    background-image: url(./assets/bluegirl.jpg);
    background-size: cover;
    background-position: 0% 60%;
}
#twospan{
    width: 130px;
    height: 60px;
    background-image: url(./assets/shaljam.jpg);
    background-size: cover;
    background-position: 0% 48%;
}
#threespan{
    width: 80px;
    height: 50px;
    background-image: url(./assets/grass.jpg);
    background-size: cover;
    background-position: 0% 60%;
}
#pictures{
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}
#firstpic{
    width: 17vw;
}
#firstpic #picimg{
    width: 100%;
    height: 24vw;
    margin-bottom: 1vw;
}
#firstpic h1,#secpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;
}
#firstpic p,#secpic p{
    opacity: .8;
    font-size: 1vw;
    letter-spacing: -.07;
    line-height: 1;
    margin-top: 10px;
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#secpic{
    display: flex;
    flex-direction: column;
    align-items:end ;
    width: 25vw;
}
#secpic p{
    width: 50%;
    text-align: right;
}
#secpic #picimg{
    width: 100%;
    height: 37vw;
    margin-bottom: 1vw;
}
#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
#bimg{
    width: 65%;
    height: 60vh;
}
#bimg img{
    width: 100%;
    height: 100%;
    object-position:0% 70%;
    object-fit: cover;
}
#btext{
    width: 35%;
    padding: 0 3vw;
}
#btext h1{
    font-size: 2.8vw;
    font-weight: 400;
    letter-spacing: -.15vw;
    line-height: 1;
}
#btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}
#footer{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#footer video{
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#ftext{
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 10px;
}
#ftext button{
    padding: .8vw 1.7vw;
    font-size: .6vw;
    text-transform: capitalize;
    margin-top: 10px;
    font-weight:700;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    color: #6f6f6f;
}
